.actions {
  color: grey;
  & > a {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    padding: 10px;
    cursor: pointer;
    transition: color 200ms;
    & > div {
      padding: 0 0 0 5px;
      font-weight: 500;
    }
    &:hover {
      color: #2AA3EF;
    }
  }
  & > .active {
    color: #2AA3EF;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #2AA3EF;
    &:hover {
      color: #1f7ab3;
    }
  }
}